* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}

a {
  text-decoration: none;
}

h3 {
  font-family: 'Abril Fatface', cursive;
}

.section-title {
  padding: 0 20px;
}

.section-title h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  letter-spacing: 1px;
}

#articles {
  padding: 40px 0;
}

#articles .link {
  text-align: center;
}

#articles .link a {
  padding: 10px 40px;
  background-color: #000000;
  border-radius: 10px;
  display: inline-block;
  color: #FFFFFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #000000;
}

#articles .link a:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #000000;
}

#articles .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  #articles .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

#articles .container .article {
  padding: 20px;
  width: 300px;
  margin: 25px 0;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

#articles .container .article .image {
  padding: 20px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #DBDBDB;
}

#articles .container .article .image img {
  width: 100%;
}

#articles .container .article .content {
  padding: 5px;
}

#articles .container .article .content .title {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}

#articles .container .article .content .tags {
  padding-bottom: 15px;
  font-size: 15px;
}

#articles .container .article .content .tags ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#articles .container .article .content .tags ul li:nth-child(1) {
  list-style-type: none;
}

#articles .container .article .content .buttoms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#articles .container .article .content .buttoms .buttom-buy {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #000000;
}

#articles .container .article .content .buttoms .buttom-buy:hover {
  background-color: #000000;
  color: #ffffff;
}

#articles .container .article .content .buttoms .add-car {
  padding: 10px;
  border-radius: 10px;
  background-color: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #000000;
}

#articles .container .article .content .buttoms .add-car img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

#articles .container .article .content .buttoms .add-car:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
}

#articles .container .article .content .buttoms .add-car:hover img {
  -webkit-filter: invert(0);
          filter: invert(0);
}
/*# sourceMappingURL=style.css.map */